## NIM+Python gitignore
!LICENSE
!Dockerfile
!**/
!*.*
**/*.npy
**/*.pyc
htmldocs/
*.so
*.pyd
.DS_Store
**/__pycache__/
# Example Output Files
*.json
!scheilmap.json
*test*.ipynb
*Test*.ipynb
UPDATES.txt
*.zip

# Ignore files in subdirectories of ammap/callables; but not the ammap/callables directory itself
#ammap/callables/*
scratch/*

#ammap/callables/*/*
ammap/callables/*/